@keyframes UPTLinkAnimationKeyFrames {
  10% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}
.aboutusContainer {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: relative;
}
.aboutusContainer .aboutusAddon {
  top: 5vh;
  left: 10vw;
  width: 10%;
  height: 5.1vh;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 10px 0px 0px 0px rgb(172, 172, 226), 20px 0px 0px 0px #7f7fca;
}
.aboutusContainer .aboutusBox {
  width: 80vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
}
.aboutusContainer .aboutusBox .paperBg, .aboutusContainer .aboutusBox .paperBg1 {
  position: absolute;
  width: 96%;
  height: 94%;
  z-index: 7;
  background: #a8a8a8;
  transform: rotateZ(1.3deg);
}
.aboutusContainer .aboutusBox .paperBg1 {
  transform: rotateZ(-1deg);
  z-index: 9;
  background: #bebebe;
}
.aboutusContainer .aboutusBox .stickyNotes, .aboutusContainer .aboutusBox .stickyNotes1 {
  position: absolute;
  width: 18%;
  height: 30%;
  z-index: 10;
  top: 2%;
  left: 1%;
  background: rgb(172, 172, 226);
  transform: rotateZ(-3deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 3s;
  cursor: pointer;
}
.aboutusContainer .aboutusBox .stickyNotes .stickyContent, .aboutusContainer .aboutusBox .stickyNotes .stickyContent1, .aboutusContainer .aboutusBox .stickyNotes1 .stickyContent, .aboutusContainer .aboutusBox .stickyNotes1 .stickyContent1 {
  color: #000;
  font-weight: bold;
  font-size: 250%;
  font-family: BabyDoll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutusContainer .aboutusBox .stickyNotes .stickyContent1, .aboutusContainer .aboutusBox .stickyNotes1 .stickyContent1 {
  padding: 10%;
  text-align: left;
  font-size: 170%;
}
.aboutusContainer .aboutusBox .stickyNotes.hideSticky {
  top: -500%;
}
.aboutusContainer .aboutusBox .stickyNotes1.hideSticky {
  left: -500%;
}
.aboutusContainer .aboutusBox .stickyNotes1 {
  z-index: 11;
  top: 21%;
  left: 0.5%;
  background: rgb(127, 127, 202);
  transform: rotateZ(-10deg);
}
.aboutusContainer .aboutusBox .aboutContent {
  width: 96%;
  height: 94%;
  z-index: 9;
  background: #e4e4e4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutusContainer .aboutusBox .aboutContent .Panel {
  width: 33%;
  height: 98%;
}
.aboutusContainer .aboutusBox .aboutContent .noteLine {
  width: 80%;
  margin-top: 2%;
  border-bottom: 1px solid black;
}
.aboutusContainer .aboutusBox .aboutContent .left {
  transform: rotateZ(-1.5deg) translateY(10px) translateX(-16px);
  position: relative;
  background: #ced476;
}
.aboutusContainer .aboutusBox .aboutContent .left .noteImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutusContainer .aboutusBox .aboutContent .left .noteText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: BabyDoll;
  font-size: 250%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.aboutusContainer .aboutusBox .aboutContent .left .noteText .signs {
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
  align-items: flex-end;
}
.aboutusContainer .aboutusBox .aboutContent .left .noteText .signs .sign, .aboutusContainer .aboutusBox .aboutContent .left .noteText .signs .sign1 {
  transform: rotateZ(-6deg);
}
.aboutusContainer .aboutusBox .aboutContent .left .dotts {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutusContainer .aboutusBox .aboutContent .left .dotts .dottedPanel {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e4e4e4;
  box-shadow: inset 0px 0px 5px 1px rgb(197, 197, 197);
}
.aboutusContainer .aboutusBox .aboutContent .middle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.aboutusContainer .aboutusBox .aboutContent .middle .noteMiddle {
  width: 80%;
  min-height: 50%;
  padding-top: 2%;
  font-size: 120%;
}
.aboutusContainer .aboutusBox .aboutContent .middle .noteTech {
  width: 80%;
  margin-top: 10%;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.aboutusContainer .aboutusBox .aboutContent .middle .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox:hover input ~ .checkmark {
  background-color: #ccc;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox input:checked ~ .checkmark {
  background-color: #7f7fca;
}
.aboutusContainer .aboutusBox .aboutContent .middle .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox input:checked ~ .checkmark:after {
  display: block;
}
.aboutusContainer .aboutusBox .aboutContent .middle .containerCheckBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.aboutusContainer .aboutusBox .aboutContent .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.aboutusContainer .aboutusBox .aboutContent .right .coffeStain {
  position: absolute;
  width: 120%;
  right: 0;
  bottom: 6%;
  opacity: 0.5;
  transform: rotateZ(98deg);
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight {
  width: 80%;
  min-height: 50%;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight {
  margin-top: 10%;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight .progressInfo {
  margin-top: 2%;
  font-size: 150%;
  font-weight: bold;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight .projectDesc {
  margin-top: 10%;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight .projectDesc .gitLink {
  margin-top: 10%;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight .projectDesc .projectDescName {
  font-size: 150%;
  font-weight: bold;
}
.aboutusContainer .aboutusBox .aboutContent .right .noteRight .statusNoteRight .projectDesc .projectDescContent {
  margin-top: 1%;
}

.UPTLinkAnimation {
  cursor: pointer;
  display: inline-block;
}

.UPTLinkAnimationPaused {
  animation: UPTLinkAnimationKeyFrames;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}/*# sourceMappingURL=aboutus.css.map */